body {
    font-weight: 300;
    background-color: rgba(51, 51, 51, 0.8);
    /*
    background: radial-gradient(farthest-side ellipse at 10% 0, rgba( 0,107,182,0.89),rgba(127,126,168,0.85) 120%,rgba( 0,107,182,0.89) 240%);
    background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba( 0,107,182,0.89),rgba(127,126,168,0.85) 120%,rgba( 0,107,182,0.89) 240%);
    background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba( 0,107,182,0.89),rgba(127,126,168,0.85) 120%,rgba( 0,107,182,0.89) 240%);
    */
    overflow:auto;
}

h3{
    color: white;
}

label{
    color: gray;
    text-align: center;
}

.claim{
    margin-top:14px;
    margin-left:14px;
    color:white;
}

.navbar{
    width:300px;
    left:75%;
}

.car-checkbox{
    margin-left:5px!important;
}
.chart{
    background: white;
}

.white-background{
    background: white;
}

.car-container{
    padding-top:100px;
}

.box{
    margin-bottom: 40px;
}

.loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

.loading-image {
  margin-right:-60px;
  position: absolute;
  top: 50%;
  left: 46%;
  z-index: 100;
}

.form-inline{
    margin-top:10px;
}

.delete_comparison{
    margin-top:-40px;
}