<div class="claim">
    <h4>[ChF] PChallenge</h4>
</div>
<nav class="navbar navbar-default" ng-if="cars">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="showComparisonModal()">Add Comparison</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visibile Cars <span class="caret"></span></a>
                    <ul class="dropdown-menu checkbox-select">
                        <li ng-repeat="car in cars"><input class="car-checkbox" type="checkbox" ng-model="car.visible"> {{car.name}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row" ng-if="cars.length>0">
    <div class="box col-sm-12" ng-repeat="comparison in comparisons track by $index">
        <h3>[Comparison] {{comparison.name}}</h3>
        <button ng-click="removeComparison($index)" class="delete_comparison btn btn-danger pull-right">X</button>
        <hr />
        <comparisonchart name="{{comparison.name}}">
            <!-- ff -->
        </comparisonchart>
    </div>
    <div class="box col-sm-12" ng-repeat="car in cars" ng-if="car.visible">
        <h3>[Car] {{car.name}}</h3>
        <hr />
        <div class="car-container col-sm-4">
            <car canvasid="{{car.name.replace(' ','_')}}" name="{{car.name}}">
                <!-- ff -->
            </car>
        </div>
        <div class="white-background col-sm-4" ng-hide="car.wheel_detail">
            <fieldchart label="Temperature" field="temperature" car="{{car.name}}">
                <!-- ff -->
            </fieldchart>
            <fieldchart label="Pressure" field="pressure" car="{{car.name}}">
                <!-- ff -->
            </fieldchart>
        </div>
        <div class="white-background col-sm-4" ng-model="car.wheel_detail" ng-hide="car.wheel_detail">
            <fieldchart label="Omega" field="omega" car="{{car.name}}">
                <!-- ff -->
            </fieldchart>
            <fieldchart label="Speed" field="speed" car="{{car.name}}">
                <!-- ff -->
            </fieldchart>
        </div>
        <div class="white-background col-sm-4" ng-show="car.wheel_detail">
            <wheelchart label="Temperature" field="temperature" car="{{car.name}}" position="{{car.selected_position}}">
                <!-- ff -->
            </wheelchart>
            <wheelchart label="Pressure" field="pressure" car="{{car.name}}" position="{{car.selected_position}}">
                <!-- ff -->
            </wheelchart>
        </div>
        <div class="white-background col-sm-4" ng-show="car.wheel_detail">
            <wheelchart label="Omega" field="omega" car="{{car.name}}" position="{{car.selected_position}}">
                <!-- ff -->
            </wheelchart>
            <wheelchart label="Speed" field="speed" car="{{car.name}}" position="{{car.selected_position}}">
                <!-- ff -->
            </wheelchart>
        </div>
    </div>
</div>