<div class="white-background col-sm-6">
    <label>{{members[0].name}} ({{members[0].position}}) - {{members[0].field}}</label>
    <canvas class="chart" id="comparison_{{name}}_1" width="{{width}}" height="400"><!-- ff--></canvas>
</div>
<div class="white-background col-sm-6">
    <label>{{members[1].name}} ({{members[1].position}}) - {{members[1].field}}</label>
   <canvas class="chart" id="comparison_{{name}}_2" width="{{width}}" height="400"><!-- ff--></canvas>
</div>