<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Comparison</h4>
            </div>
            <div class="modal-body">
                <p> Select Comparison Attributes:</p>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Comparison Name*:</label>
                         <input type="type" class="form-control" placeholder="Comparison Name" ng-model="name">
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Car*:</label>
                        <select class="form-control" ng-model="first_member.name" required>
                            <option  ng-repeat="car in cars track by $index" value="{{car.name}}">{{car.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Position*:</label>
                        <select class="form-control" ng-model="first_member.position">
                        <option   ng-repeat="position in positions track by $index" value="{{position}}">{{position}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Sensor*:</label>
                        <select class="form-control" ng-model="first_member.field">
                        <option ng-repeat="field in fields track by $index" value="{{field}}">{{field}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label>Car*:</label>
                        <select class="form-control" ng-model="second_member.name">
                        <option ng-repeat="car in cars track by $index" value="{{car.name}}">{{car.name}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Position*:</label>
                        <select class="form-control" ng-model="second_member.position">
                        <option  ng-repeat="position in positions track by $index" value="{{position}}">{{position}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Sensor*:</label>
                        <select class="form-control" ng-model="second_member.field">
                        <option ng-repeat="field in fields track by $index" value="{{field}}">{{field}}</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-if="isCompleted()" type="button" ng-click="onClose()" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>